@charset "utf-8";

body {
  background-image: url(../img/77254_27169_036.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.row {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
}

.joinPage .joinBox {
  padding-top: 30px;
  padding-bottom: 80px;
}
.joinPage .joinBox p {
  line-height: 1.5em;
}
.joinPage .joinBox h2 {
  font-size: 30px;
  padding: 40px 0;
}
.joinPage .joinBox .btn {
  text-align: center;
}
.joinPage .joinBox .btn button {
  width: 100px;
  height: 40px;
  border: none;
  background: rgb(128, 225, 30);
  margin: 30px 10px;
  border-radius: 8px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.joinPage .joinBox .btn button[type=submit] {
  background: none;
  border: 1px solid rgb(128, 225, 30);
}
.joinPage .joinBox form h3 {
  font-size: 18px;
  padding: 20px 0;
}
.joinPage .joinBox form table {
  margin-bottom: 30px;
}
.joinPage .joinBox form table col:nth-child(1) {
  width: 20%;
  background: rgba(128, 225, 30, 0.3);
}
@media only screen and (max-width:768px) {
  .joinPage .joinBox form table col:nth-child(1) {
    display: none;
  }
}
.joinPage .joinBox form table col:nth-child(2) {
  width: 80%;
}
@media only screen and (max-width:768px) {
  .joinPage .joinBox form table col:nth-child(2) {
    width: 100%;
  }
}
.joinPage .joinBox form table th {
  border: 1px solid rgb(128, 225, 30);
  padding: 10px;
  text-align: left;
  vertical-align: middle;
}
@media only screen and (max-width:768px) {
  .joinPage .joinBox form table th {
    display: none;
  }
}
.joinPage .joinBox form table td {
  border: 1px solid rgb(128, 225, 30);
  padding: 10px;
  text-align: left;
  vertical-align: middle;
}
.joinPage .joinBox form table input[type=checkbox],
.joinPage .joinBox form table input[type=radio],
.joinPage .joinBox form table input[type=checkbox] + label,
.joinPage .joinBox form table input[type=radio] + label {
  vertical-align: middle;
}
.joinPage .joinBox form table label {
  margin-right: 10px;
}
.joinPage .joinBox form table input[type=text],
.joinPage .joinBox form table input[type=password],
.joinPage .joinBox form table select {
  height: 30px;
  border: 1px solid rgb(128, 225, 30);
  text-indent: 1em;
  vertical-align: middle;
}
.joinPage .joinBox form table select {
  text-indent: 0em;
}
.joinPage .joinBox form table textarea {
  width: 80%;
  height: 100px;
  border: 1px solid rgb(128, 225, 30);
  padding: 10px;
}
.joinPage .joinBox form table #idbox, .joinPage .joinBox form table #pwbox, .joinPage .joinBox form table #pwboxok, .joinPage .joinBox form table #irum, .joinPage .joinBox form table #emailid, .joinPage .joinBox form table #emaildomain {
  width: 200px;
}
@media only screen and (max-width:768px) {
  .joinPage .joinBox form table #idbox, .joinPage .joinBox form table #pwbox, .joinPage .joinBox form table #pwboxok, .joinPage .joinBox form table #irum, .joinPage .joinBox form table #emailid, .joinPage .joinBox form table #emaildomain {
    width: 100%;
  }
}
.joinPage .joinBox form table #zipcode, .joinPage .joinBox form table #hp1, .joinPage .joinBox form table #hp2, .joinPage .joinBox form table #birth {
  width: 100px;
}
.joinPage .joinBox form table #addr1, .joinPage .joinBox form table #addr2, .joinPage .joinBox form table #addr3 {
  width: 35%;
}
.joinPage .joinBox form table #zipcode + button {
  height: 30px;
  vertical-align: middle;
  background: rgb(128, 225, 30);
  border-radius: 5px;
  border: none;
  padding: 0 5px;
  color: #fff;
}
.joinPage .joinBox form .agree {
  background: rgb(128, 225, 30);
  padding: 20px;
}
.joinPage .joinBox form .agree > div {
  background: #fff;
  height: 100px;
  overflow-y: auto;
  line-height: 1.5;
  padding: 10px;
  margin-bottom: 10px;
}
.joinPage .joinBox form .agree input {
  margin-left: 10px;
}
.joinPage .joinBox form .agree span, .joinPage .joinBox form .agree input, .joinPage .joinBox form .agree label {
  vertical-align: middle;
}/*# sourceMappingURL=join.css.map */