@charset "utf-8";

* { margin:0; padding:0; box-sizing:border-box; outline:none; }
a { color:inherit; text-decoration:none; }
input { border: none; }
ul { list-style: none; }

body {
    background: rgba(127, 225, 30, 0.3);
}
#star {
    width: 450px;
    margin: 100px auto;
    border: 1px solid rgb(128, 225, 30);
    border-radius: 10px;
    background: #fff;
}
#star > h2 {
    font-size: 28px;
    padding: 25px 0 10px 15px;
    background: rgb(111, 221, 0);
    border-radius: 8px 8px 0 0;
    color: #fff;
}
#star .hd{
    display: flex;
    justify-content: flex-end;
    padding: 5px 15px 0px 0px;
}
#star .hd > div {
    padding: 5px 5px 0px 0px;
}
#star .hd > h3 {
    font-size: 22px;
    padding: 5px;
}

#star > form {
    margin-top: 10px;
    display: flex;
    height: 50px;
    font-size: 14px;
}
#star > form > input {
    flex: 1;
    padding-left: 20px;
    border: 1px solid rgb(128, 225, 30);
    border-left: none;
    border-right: none;
    font-size: 15px;
}
#star > form > button {
    border: none;
    background: none;
    padding: 0 20px;
    cursor: pointer;
    background: rgb(128, 225, 30);
    color: #fff;
    font-size: 14px;
}

#star .starlist {
    /* margin-top: 20px; */
    margin-bottom: 20px;
}
#star .starlist > li {
    display: flex;
}
#star .starlist > li > input {
    flex: 1;
    padding: 10px 20px;
    background: none;
    border-bottom: 1px solid rgb(128, 225, 30);
    background-color: #fff;
}
#star .starlist > li > button {
    border: none;
    background: none;
    padding: 0 20px;
    cursor: pointer;
    background: rgb(128, 225, 30);
    font-size: 14px;
    color: #fff;
}
#star .btn {
    text-align: center;
    margin-top: 10px;
    padding: 5px;
    border-top: 1px solid rgb(128, 225, 30);
    background: #fff;
    border-radius: 0 0 10px 10px;
}
#star .btn > a {
    text-align: center;
    background: #fff;
    padding: 5px 185px 5px 185px;
}